.Genres{
    display: flex;
    justify-content: left;
    color: #848b87;

}
.GenreresFirst{
    margin-right: 7px;
    margin-left: 7px;
}
img{
    height: 300px;
    border-radius: 3%;
}
.title{
    color: #299ebb;
}
.Main{
    max-width: 200px;

}
